* {
    margin: 0;
}

@media screen and (max-width: 1024px) {

    main {
        background-color: rgb(24, 14, 65);
    }

    .cabecalho {
        padding: 20px;
        background-color: black;

        display: flex;
    }

    .links {
        width: 100%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
        position: relative;
        left: -70px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px
    }

    .categoria {
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        color: rgb(250, 250, 250);
    }

    .jogo {
        display: flex;
        margin: 0px 10px;
        background-color:rgb(10, 10, 10);
        border-style: outset;
        border-color: rgb(70, 70, 150);
    }

    .imgJogo {
        padding: 20px;
    }

    .tituloJogo {
        width: 300px;
        padding: 20px;
        gap: 10px;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 200%;
        color: rgb(200, 200, 200);

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .comprar {
        font-weight: bolder;
        color: rgb(129, 95, 10);
        background-color: yellow;
        border-style: outset;
        border-color: darkgoldenrod;

        display: flex;
        justify-content: center;
    }

    .jogo2 {
        width: 485px;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color:rgb(10, 10, 10);
        border-style: outset;
        border-color: rgb(70, 70, 150);

        display: flex;
        flex-direction: column;
    }

    .tituloJogo2 {
        margin-bottom: 20px;
        padding-left: 20px;
        gap: 10px;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: rgb(200, 200, 200);

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .jogo3 {
        height: 0%;
        padding: 20px 10px;
        margin: 0px 6px 10px 11px;
        gap: 20px;
        border-style: outset;
        border-color: rgb(70, 70, 150);
        background-color:rgb(10, 10, 10);

        display: flex;
        flex-direction: column;
    }

    .tituloJogo3 {
        padding-left: 20px;
        gap: 10px;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: rgb(200, 200, 200);

        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
