* {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        padding: 20px;

        display: flex;
    }

    .links {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px
    }
}
